/* line 7, ../scss/style.scss */
body {
  background-color: #efefef;
  font-family: "tenso";
}

/* line 12, ../scss/style.scss */
h1 {
  font-family: "prenton-condensed";
  font-size: 3em;
  font-weight: bold;
  margin: 0;
  color: #444;
}

/* line 20, ../scss/style.scss */
.intro {
  font-family: "tenso";
  font-style: italic;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.66);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 0;
}

/* line 30, ../scss/style.scss */
.first {
  padding: 50px 0;
}

/* line 34, ../scss/style.scss */
.second {
  background-color: #fff;
  padding: 15px 15px 0 15px;
}

/* line 39, ../scss/style.scss */
h2 {
  font-family: "tenso";
  font-style: italic;
}

/* line 44, ../scss/style.scss */
h3, h4 {
  font-family: "tenso";
}

/* line 48, ../scss/style.scss */
.blog-post {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: inline-block;
  color: #666;
  font-size: 1.25em;
}
/* line 56, ../scss/style.scss */
.blog-post h4 {
  border-top: 1px dotted #ccc;
  margin-top: 5px;
  padding-top: 5px;
}

/* line 63, ../scss/style.scss */
.box {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  min-height: 250px;
  position: relative;
  overflow: hidden;
}
/* line 72, ../scss/style.scss */
.box h2 {
  font-size: 1em;
  margin: 0;
  padding: 0 15px 0 0;
  color: #1e4b69;
  font-weight: normal;
  position: absolute;
  bottom: 20px;
}
/* line 82, ../scss/style.scss */
.box img {
  margin: 10px 0;
}
/* line 86, ../scss/style.scss */
.box .years {
  font-size: 11.5em;
  line-height: 1.165em;
  font-weight: bold;
}
/* line 92, ../scss/style.scss */
.box.me {
  background-image: url("../images/me.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 98, ../scss/style.scss */
.box.me h2 {
  color: rgba(255, 255, 255, 0.75);
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
  padding-right: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
/* line 108, ../scss/style.scss */
.box.me h2 a {
  color: #fff;
  text-decoration: underline;
}
/* line 117, ../scss/style.scss */
.box.fanbase h2 {
  color: #efefef;
}
/* line 121, ../scss/style.scss */
.box.fanbase img {
  margin-top: 70px;
}
/* line 128, ../scss/style.scss */
.box.mixwest h2 {
  color: #efefef;
}
/* line 133, ../scss/style.scss */
.box.speaking {
  background-image: url("../images/speaking.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -90px 0;
}
/* line 142, ../scss/style.scss */
.box.alive {
  background-color: #F1C40F;
}
/* line 145, ../scss/style.scss */
.box.alive h2, .box.alive .years {
  color: rgba(0, 0, 0, 0.6);
}

/* line 153, ../scss/style.scss */
.footer {
  padding: 15px 0 0 0;
}
/* line 156, ../scss/style.scss */
.footer .icons {
  font-size: 3em;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 160, ../scss/style.scss */
.footer .icons a {
  color: rgba(0, 0, 0, 0.33);
}
/* line 164, ../scss/style.scss */
.footer .icons .fa:hover {
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.66);
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

/* line 173, ../scss/style.scss */
.overlay {
  border-radius: 20px;
  box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
}

/* line 178, ../scss/style.scss */
.hidden {
  display: none;
}

@media only screen and (min-width: 40.063em) {
  /* line 184, ../scss/style.scss */
  h1 {
    font-size: 6em;
  }

  /* line 188, ../scss/style.scss */
  .intro {
    font-size: 2em;
  }

  /* line 192, ../scss/style.scss */
  .second {
    padding: 15px 0 0 0;
  }

  /* line 196, ../scss/style.scss */
  .box {
    min-height: 287px;
  }
}
/* min-width 641px, medium screens */
